// primary colors
$bright-orange: hsl(31, 77%, 52%);
$dk-cyan: hsl(184, 100%, 22%);
$dker-cyan: hsl(179, 100%, 13%);

// neutral colors
$transparent-white: hsla(0, 0%, 100%, 0.75); // for paragraphs
$lt-gray: hsl(0, 0%, 95%); // for backgrounds, headings, buttons
